@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Caret / writing line fix: Do not show text caret line on permanent text, show only in inputs */
*:not(input):not(textarea):not([contenteditable="true"]) {
    caret-color: transparent !important;
}

input, textarea, [contenteditable="true"] {
    caret-color: auto !important;
}